<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPL4RHHvqKekytDH_wC4J14FbrkrTdH5k</string>
	<key>GCM_SENDER_ID</key>
	<string>399981015950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsutsunoido.movieandanimeholylandmap</string>
	<key>PROJECT_ID</key>
	<string>movie-and-anime-holy-land</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-and-anime-holy-land.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399981015950:ios:1450e7f72714def5a9aadf</string>
</dict>
</plist>